/* ----------------------------fontes---------------------------*/

@font-face {
    font-family: 'Azonix';
    src: url('../font/Azonix.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exo-bold';
    src: url('../font/Exo2-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exo-medium';
    src: url('../font/Exo2-Medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Anta';
    src: url('../font/Anta-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exo-semibold';
    src: url('../font/Exo2-SemiBold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* --------------------para pegar toda a tela----------------------*/
*{
    padding: 0;
    margin: 0;
    }
    
    main{ 
    position: relative;
    margin: auto;
    width: 100%;
    height: 2250px;
    background-image: url(../imagem/fundo2.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

main::after {
    content: '';
    background-color:#052D5C;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .9;
    z-index: -1;
}

/* --------------------barrinha de rolagem----------------------*/
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #ddefff;
    border-radius: 13px;
}
  
::-webkit-scrollbar-thumb {
    background-color:#052D5C;
    border-radius: 10px;
    border: 1px solid #ddefff;
}

/* --------------------header----------------------*/
.barra_menu{
    position: relative;
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: row;
}

#menu{
    width: 30%;
    height: 120px;
    padding-top: 15px;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    margin-left: 25px;
}

#logo{
    position: relative;
    width: 120px;
    height: 120px;
    background-image: url('../imagem/logo_header.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#nome_logo{
    position: relative;
    width: 250px;
    height: 90px;
    font-family: 'Azonix';
    color: #F7C745;
    font-size: 35px;
    padding-top: 25px;
    margin-left: 15px;
}

#navegacao{
    width: 70%;
    height: 120px;
    padding-top: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* --------------------navegação----------------------*/
.barra_menu a {
    position: relative;
    width: 163px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding-top: 20px;
    display: inline-block;
    color:#F7C745;
    transition: 0.3s ease-in-out;
    font-family: 'Exo-bold';
    margin-bottom: 10px;
    margin-right: 35px;
    display: inline-block;
}

.barra_menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 5px;
    background-color: #F7C745;
    transition: width 0.3s ease-in-out;
}

.barra_menu a:hover::after {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    color: #F7C745;
    position: relative;
}

ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 5px;
    background-color: #F7C745;
    transition: width 0.3s ease-in-out;
}

ul li a:hover::after {
    width: 100%;
}

ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    padding: 10px 5px;
    display: none;
    z-index: 999;
    text-align: left;
    background-color: #052D5C;
    box-shadow: 5px 5px 10px rgba(179, 176, 0, 0.25);

}

ul li ul li {
    display: block;
    width: 100%;
}

ul li ul li a {
    padding: 10px 15px;
    font-size: 17px;
    text-align: left;
    display: block;
}

ul li:hover > ul {
    display: block;
}

ul li ul ul {
    left: 105%;
    top: -65px;
    position: absolute;
}

/* --------------------banner Brasil do amanhã----------------------*/
#introducao{
    position: relative;
    margin: auto;
    width: 85%;
    height: 250px;
    margin-top: 150px;
}
#titulo{
    width: 75%;
    height: 25%;
    margin: auto;
    font-family: 'Anta';
    color: #F7C745;
    font-size: 35px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-around;
} 
#texto{
    width: 80%;
    height: 75%;
    margin: auto;
    font-family: 'Exo-semibold';
    color: #ffffff;
    font-size: 27px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

/* --------------------informações----------------------*/
#informacoes{
    width: 100%;
    height: 600px;
    margin-top: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    align-items: center;
}
#formulario{
    width: 50%;
    height: 560px;
}

#instrucoes{
    width: 40%;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
    align-items: flex-end;
}

#oque{
    width: 100%;
    height: 49%;
    text-align: right;

}
#como{
    width: 100%;
    height: 45%;
    text-align: right;
}

h3{
    font-family: 'Anta';
    color:#F7C745;
    font-size: 28px;
}
p{
    font-family: 'Exo-semibold';
    color: white;
    font-size: 18px ;
}

/*-------------------------------formulario-------------------------------------*/
body {
    font-family: 'Exo-medium';
    background-color: #0D1B2A;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.formulario {
    width: 50%;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;

}

h2 {
    color: #F7C745;
    text-align: center;
}

input, textarea {
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
}


label {
    display: block;
    margin-top: 15px;
}

.radio-group {
    display: flex;
    margin-top: 10px;
}

button {
    width: 95%;
    background: #F7C745;
    color: #052D5C;
    border: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

button:hover {
    background-color:#052D5C;
    color: #F7C745;
}

.instrucoes {
    width: 45%;
    background: rgba(255, 255, 255, 0.1);
    padding: 50px;
    border-radius: 10px;
    margin-left: 25px;
}
.instrucoes .titulo2{
    font-family: 'Exo-medium';
    color: #F7C745;
    font-size: 25px;
}



/* --------------------mural do amanhã----------------------*/

#mural_do_amanha{
    position: relative;
    margin: auto;
    width: 100%;
    height: 550px;
    margin-top: 180px;
}
#titulo1{
    width: 100%;
    height: 15%;
    font-family: 'Anta';
    color: #F7C745;
    font-size: 37px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-around;
} 
#slides{
    width: 95%;
    height: 85%;
    margin: auto;
}

/* --------------------slide----------------------*/

.slider{
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 370px;
    overflow: hidden;
}
.item{
    position: absolute;
    width: 500px;
    height: 320px;
    text-align: justify;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    transition:  0.5s;
    left: calc(50% - 270px);
    top: 0;
}
#next{
    position: absolute;
    right: -470px;
    top: 35%;
}
#prev{
    position: absolute;
    left: -470px;
    top: 35%;
}
#prev, #next{
    color: #fff;
    background: none;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    opacity: 0.4;
    transition: opacity 0.5s;
    box-shadow: none;
}
#prev:hover,
#next:hover{
    opacity: 1;
    color: #F7C745;
}

.texto2{
    color: #052D5C;
    padding: 10px 10px;
}
/* --------------------estilização video----------------------*/
.video-container {
    width: 500px;
    height: 320px;
    border-radius: 15px;
    overflow: hidden;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 15px; 
    display: block;
}

/*-----------------------footer------------*/
footer {
    position: relative;
    width: 100%;
    height: 200px;
    background-color:  #F7C745;
    font-family: 'Exo-medium';
    color: #052D5C;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.footer-logo img{
    width: 130px;
    margin-top: 15px;
}

.footer-link {
    display: flex;
    gap: 150px;
    text-align: left;
}

.itens-footer {
    display: flex;
    flex-direction: column;
}

.itens-footer .um {
    margin-bottom: 10px;
    color:#052D5C;
    font-family: 'Exo-medium';
    font-size:18px;
    font-weight: 1200;
}

.itens-footer a {
    text-decoration: none;
    margin: 5px;
    color:#052D5C;
}

.footer-social {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-social a {
    margin: 5px;
}

.direitos p{
    width: 98.5%;
    color: #F7C745;
    text-align: center;
    background-color: #052D5C;
    padding: 10px;
    margin-top: 10px;
    font-size: 15px;
    justify-content: center;
}

/*------------------------responsividade---------------------------*/
@media (max-width: 500px){
footer {
    position: relative;
    width: 100%;
    height: 415px;
}
.direitos p{
    width: 96.2%;
    
}
.footer-logo img{
    width: 150px;
    height: auto;
    
}
.footer-social img {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-top: 15px;
}
.itens-footer {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin-top: 10px;
}

.itens-footer h3 {
    margin-top: 10px;
}

.itens-footer a {
    text-decoration: none;
    color:#052D5C;
}
#nome_logo{
    font-size: 20px;
}
}