@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@font-face {
    font-family: 'Azonix';
    src: url("..font/Azonix.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exo-bold';
    src: url("..font/Exo2-Bold.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Exo-bold';
  src: url("../font/Exo2-Bold.otf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Exo-medium';
    src: url('../font/Exo2-Medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Island Moments';
    src: url(../font/IslandMoments-Regular.ttf);
}

@font-face {
    font-family: 'Special Elite';
    src: url(../font/SpecialElite-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}


main {
  width: 100%;
  height: 100vh;
  
  background-image: url(../imagem/papiro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
/* --------------------barrinha de rolagem----------------------*/
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #ddefff;
  border-radius: 13px;
}

::-webkit-scrollbar-thumb {
  background-color:#052D5C;
  border-radius: 10px;
  border: 1px solid #ddefff;
}

/* --------------------header----------------------*/

.barra_menu{
position: relative;
width: 100%;
height: 140px;
box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
display: flex;
flex-direction: row;
background-image: url(../imagem/papiro.jpg);
background-size: cover;
background-repeat: no-repeat;
}

#menu{
width: 30%;
height: 120px;
padding-top: 15px;
padding-left: 5px;
display: flex;
flex-direction: row;
margin-left: 25px;
}

#logo{
position: relative;
width: 120px;
height: 120px;
background-image: url(../imagem/elemento1.png);
background-size: contain;
background-repeat: no-repeat;
}

#nome_logo{
position: relative;
width: 250px;
height: 90px;
font-family: 'Azonix';
color: #052D5C;
font-size: 35px;
padding-top: 25px;
margin-left: 15px;
}

#navegacao{
width: 60%;
height: 50px;
padding-top: 15px;
position: relative;
display: flex;
align-items: center;
justify-content: space-around;
margin: auto;
}
/* --------------------navegação----------------------*/

.barra_menu a {
position: relative;
width: 163px;
height: 35px;
text-align: center;
text-decoration: none;
font-size: 18px;
padding-top: 20px;
display: inline-block;
color:#052D5C;
transition: 0.3s ease-in-out;
font-family: 'Exo-bold';
margin-bottom: 10px;
margin-right: 35px;
display: inline-block;
}

.barra_menu a::after {
content: "";
position: absolute;
left: 0;
bottom: 0;
width: 0;
height: 5px;
background-color: #052D5C;
transition: width 0.3s ease-in-out;
}

.barra_menu a:hover::after {
width: 100%;
}

ul {
list-style: none;
padding: 0;
margin: 0;
}

ul li {
display: inline-block;
position: relative;
}

ul li a {
display: block;
text-decoration: none;
transition: 0.3s ease-in-out;
color: #052D5C;
position: relative;
}

ul li a::after {
content: "";
position: absolute;
left: 0;
bottom: 0;
width: 0;
height: 5px;
background-color: #052D5C;
transition: width 0.3s ease-in-out;
}

ul li a:hover::after {
width: 100%;
}

ul li ul {
position: absolute;
top: 100%;
left: 0;
width: 200px;
padding: 10px 5px;
display: none;
z-index: 999;
text-align: left;
background-color: #F7C745;
box-shadow: 5px 5px 10px rgba(179, 176, 0, 0.25);

}

ul li ul li {
display: block;
width: 100%;
}

ul li ul li a {
padding: 10px 15px;
font-size: 17px;
text-align: left;
display: block;
}

ul li:hover > ul {
display: block;
}

ul li ul ul {
left: 105%;
top: -65px;
position: absolute;
}

#bemVindo {
    width: 100%;
    height: 590px;
    color: #052D5C;
    position: relative;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 5px 10px #052D5C;
    font-family: "Special Elite", system-ui;
    font-size: 2.8rem;
}


@keyframes flutuar {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

#bemVindo img {
    width: 200px;
    height: auto;
    margin-top: 40px;
    margin-bottom: -40px;
    animation: flutuar 4s ease-in-out infinite;
}

#bemVindo p {
    text-transform: uppercase;
    margin-top: 50px;
}

#bemVindo h1 {
    font-family: "Island Moments", cursive;
    font-size: 13rem;
    font-weight: 500;
    margin-top: -50px;
}

#bemVindo h2 {
    font-weight: 200;
    margin-top: -20px;
}

@media screen and (max-width:1200px) {
    #bemVindo h1 {
        font-family: "Island Moments", cursive;
        font-size: 8rem;
        font-weight: 500;
        margin-top: -20px;
    }
}

/*-----------------Timeline-----------------*/

:root {
    --white: #fff;
    --black: #000;
    --primary: #ffffff;
    --gray: #616161;
  }

  html, body, .container { 
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    
  }

  .container {
    
    background-color: var(--white);
    flex-direction: column;
    box-sizing: border-box;

  }

  .title {
    font-size: 38px;
    color: var(--gray);
    font-style: italic;
    font-weight: 800;
    margin-bottom: 30px;
  }

  /* TIMELINE */
  .timeline {
    width: 100%;
    max-width: 1200px;
    background-color: var(--white);
    box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.2);
  }

  .timeline .swiper-container {
    height: 100vh;
    width: 100vw;
    position: relative;
  }

  .timeline .swiper-wrapper {
    transition: 2s cubic-bezier(0.68, -0.4, 0.27, 1.34) 0.2s;
  }

  .timeline .swiper-slide {
    position: relative;
    color: var(--white);
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .timeline .swiper-slide::after {
    content: "";
    position: absolute;
    z-index: 1;
    right: -115%;
    bottom: -10%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: -230px 0 150px 60vw rgba(0, 0, 0, 0.7);
    border-radius: 100%;
  }

  .timeline .swiper-slide-content {
    position: absolute;
    text-align: center;
    width: 80%;
    max-width: 310px;
    right: 50%;
    top: 13%;
    transform: translate(50%, 0);
    font-size: 12px;
    z-index: 2;
  }

  .timeline .timeline-year {
    display: block;
    font-style: italic;
    font-size: 42px;
    margin-bottom: 50px;
    transform: translate3d(20px, 0, 0);
    color: var(--primary);
    font-weight: 300;
    opacity: 0;
    transition: 0.2s ease 0.4s;
  }

  .timeline .timeline-title {
    font-weight: 800;
    font-size: 34px;
    margin: 0 0 30px;
    opacity: 0;
    transform: translate3d(20px, 0, 0);
    transition: 0.2s ease 0.5s;
  }

  .timeline .timeline-text {
    line-height: 1.5;
    opacity: 0;
    transform: translate3d(20px, 0, 0);
    transition: 0.2s ease 0.6s;
    font-size: 25px;
  }

  /* SLIDE ATIVO */
  .timeline .swiper-slide-active .timeline-year {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 0.4s ease 1.6s;
  }

  .timeline .swiper-slide-active .timeline-title {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 0.4s ease 1.7s;
  }

  .timeline .swiper-slide-active .timeline-text {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 0.4s ease 1.8s;
  }

  /* PAGINAÇÃO */
  .timeline .swiper-pagination {
    right: 15% !important;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    z-index: 1;
  }

  .timeline .swiper-pagination::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.2);
  }

  .timeline .swiper-pagination-bullet {
    width: auto;
    height: auto;
    text-align: center;
    opacity: 1;
    background: transparent;
    color: var(--primary);
    margin: 15px 0 !important;
    position: relative;
    display: inline-block;
  }

  .timeline .swiper-pagination-bullet::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -32.5px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: var(--primary);
    transform: scale(0);
    transition: 0.2s;
  }

  .timeline .swiper-pagination-bullet-active {
    color: var(--primary);
  }

  .timeline .swiper-pagination-bullet-active::before {
    transform: scale(1);
  }

  /* NAVEGAÇÃO */
  .timeline .swiper-button-next,
  .timeline .swiper-button-prev {
    background-size: 20px 20px;
    top: 15%;
    width: 20px;
    height: 20px;
    margin-top: 0;
    z-index: 2;
    transition: 0.2s;
  }

  .timeline .swiper-button-prev {
    left: 8%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23d4a024'%2F%3E%3C%2Fsvg%3E");
  }

  .timeline .swiper-button-prev:hover {
    transform: translateX(-3px);
  }

  .timeline .swiper-button-next {
    right: 8%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23d4a024'%2F%3E%3C%2Fsvg%3E");
  }

  .timeline .swiper-button-next:hover {
    transform: translateX(3px);
  }

  /* RESPONSIVO */
  @media screen and (min-width: 768px) {
    .timeline .swiper-slide::after {
      right: -30%;
      bottom: -8%;
      width: 240px;
      height: 50%;
      box-shadow: -230px 0 150px 50vw rgba(0, 0, 0, 0.7);
    }

    .timeline .swiper-slide-content {
      right: 30%;
      top: 50%;
      transform: translateY(-50%);
      width: 310px;
      font-size: 11px;
      text-align: right;
    }

    .timeline .timeline-year {
      margin-bottom: 0;
      font-size: 32px;
    }

    .timeline .timeline-title {
      font-size: 46px;
      margin: 0;
    }

    .timeline .swiper-pagination {
      display: flex;
    }

    .timeline .swiper-button-prev {
      top: 15%;
      left: auto;
      right: 15%;
      transform: rotate(90deg) translate(0, 10px);
    }

    .timeline .swiper-button-prev:hover {
      transform: rotate(90deg) translate(-3px, 10px);
    }

    .timeline .swiper-button-next {
      top: auto;
      bottom: 15%;
      right: 15%;
      transform: rotate(90deg) translate(0, 10px);
    }

    .timeline .swiper-button-next:hover {
      transform: rotate(90deg) translate(3px, 10px);
    }
  }

  @media screen and (min-width: 1024px) {
    .timeline .swiper-slide::after {
      right: -20%;
      bottom: -12%;
      width: 240px;
      height: 50%;
      box-shadow: -230px 0 150px 39vw rgba(0, 0, 0, 0.7);
    }

    .timeline .swiper-slide-content {
      right: 25%;
    }
  }

footer {
    position: relative;
    width: 100%;
    height: 200px;
    font-family: 'Exo-medium';
    color: #F7C745;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    background-color: #052D5C;
    color: #F7C745;
    font-family: 'Exo-medium';
}

.footer-logo img {
    width: 130px;
    margin-top: 15px;
}

.footer-link {
    display: flex;
    gap: 150px;
    text-align: left;
}

.itens-footer {
    display: flex;
    flex-direction: column;
}

.itens-footer h3 {
    margin-bottom: 10px;
}

.itens-footer a {
    text-decoration: none;
    margin: 5px 0px;
    color: #F7C745;
}

.footer-social {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-social a {
    margin: 5px;
}

.direitos p {
    width: 98.5%;
    color: #052D5C;
    background-color: #F7C745;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    justify-content: center;
    font-family: 'Exo-medium';
}

@media (max-width: 500px) {
    .barra_menu {
        width: 100%;
        height: 320px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: url(imagem/background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    #menu {
        width: 100%;
        height: 120px;
        padding-top: 15px;      
    }

    #navegacao{
        width: 90%;
        height: 220px;
        background-color: #d9534f;
        margin: auto;
    }

    #navegacao a{
        font-size: 15px;
        height: 23%;
        padding: 15px;
        background-color: #F7C745;
       
    }
    
    #logo {
        position: relative;
        width: 120px;
        height: 120px;
        background-image: url(imagem/elemento1.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    #nome_logo {
        position: relative;
        width: 250px;
        height: 90px;
        font-family: 'Azonix';
        color: #052D5C;
        font-size: 35px;
        padding-top: 25px;
        margin-left: 15px;
    }

    #bemVindo {
        width: 100%;
        text-align: center;
    }

    #bemVindo img {
        width: 100px;
        height: 100px;
    }

    #bemVindo h1 {
        font-size: 70px;
        margin-top: 5px;
    }

    #bemVindo p {
        font-size: 18px;
    }

    #bemVindo h2 {
        font-size: 18px
    }

    .linhaContainer {
        width: 90%;
        height: 520px;
    }

    .linhaContainer .ano {
        font-size: 25px;
        width: 35%;
        height: 50px;
    }

    .linhaContainer .caixa {
        width: 90%;
        height: 400px;
    }

    .textos h1 {
        font-size: 28px;
        margin-top: 0px;
    }

    .textos p {
        font-size: 18px;
    }

    .abrirModal {
        width: 40%;
        height: 12%;
        font-size: 14px;
    }

    .caixa {
        background-position: center;
    }
}