/* ----------------------------fontes---------------------------*/

@font-face {
    font-family: 'Azonix';
    src: url('../font/Azonix.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exo-bold';
    src: url('../font/Exo2-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exo-medium';
    src: url('../font/Exo2-Medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Anta';
    src: url('../font/Anta-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exo-semibold';
    src: url('../font/Exo2-SemiBold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* --------------------para pegar toda a tela----------------------*/
*{
    padding: 0;
    margin: 0;
    }
    
    main{ 
    position: relative;
    margin: auto;
    width: 100%;
    height: 2700px;
    background-image: url(../imagem/fundo2.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

main::after {
    content: '';
    background-color:#052D5C;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .9;
    z-index: -1;
}

/* --------------------barrinha de rolagem----------------------*/
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #ddefff;
    border-radius: 13px;
}
  
::-webkit-scrollbar-thumb {
    background-color:#052D5C;
    border-radius: 10px;
    border: 1px solid #ddefff;
}

/* --------------------header----------------------*/
.barra_menu{
    position: relative;
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: row;
}

#menu{
    width: 30%;
    height: 120px;
    padding-top: 15px;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
}

#logo{
    position: relative;
    width: 120px;
    height: 120px;
    background-image: url('../imagem/logo_header.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#nome_logo{
    position: relative;
    width: 250px;
    height: 90px;
    font-family: 'Azonix';
    color: #F7C745;
    font-size: 35px;
    padding-top: 25px;
    margin-left: 15px;
}

#navegacao{
    width: 70%;
    height: 120px;
    padding-top: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* --------------------navegação----------------------*/

.barra_menu a {
    position: relative;
    width: 163px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding-top: 20px;
    border-radius: 35px;
    display: inline-block;
    color: #F7C745;
    transition: 0.3s ease-in-out;
    font-family: 'Exo-bold';
    margin-bottom: 10px;
    margin-right: 35px;
}

.barra_menu a:hover {
    background-color: #F7C745;
    color: #052D5C;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    text-decoration: none;
    border-radius: 25px;
    padding: 10px 15px;
    transition: 0.3s ease-in-out;
    color: #F7C745;
}

ul li a:hover {
    background-color: #F7C745;
    color: #052D5C;
}

ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #052D5C;
    width: 190px; /* largura */
    padding: 10px 5px; /* interno */
    display: none;
    z-index: 999;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0px 4px 10px rgba(255, 241, 42, 0.3); 
}

ul li ul li {
    display: block;
    width: 100%;
}

ul li ul li a {
    padding: 10px 15px;
    font-size: 18px;
    text-align: left;
    display: block;
}

ul li:hover > ul {
    display: block;
}

ul li ul ul {
    left: 102%;
    top: 0;
    position: absolute;
    border-radius: 10px;
}


/* --------------------banner sobre nos----------------------*/
#sobre_nos{
    position: relative;
    margin: auto;
    width: 70%;
    height: 250px;
    margin-top: 150px;
}
#titulo{
    width: 100%;
    height: 30%;
    font-family: 'Anta';
    color: #F7C745;
    font-size: 45px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
     
#texto{
    width: 100%;
    height: 70%;
    font-family: 'Exo-semibold';
    color: #ffffff;
    font-size: 28px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

/* --------------------ampulhetinhas----------------------*/
#ampulheta1{
    position: absolute;
    top: 190px;
    right: 900px;
    animation: spin 3s linear infinite;
}
#ampulheta2{
    position: absolute;
    top: 100px;
    right: 980px;
    animation: spin1 3s linear infinite;
}
#ampulheta3{
    position: absolute;
    top: 260px;
    right: 800px;
    animation: spin 3s linear infinite;
}
#ampulheta4{
    position: absolute;
    top: -50px;
    left: 800px;
    animation: spin1 3s linear infinite;
}
#ampulheta5{
    position: absolute;
    top: -30px;
    left: 950px;
    animation: spin 3s linear infinite;
}
#ampulheta6{
    position: absolute;
    top: 200px;
    left: 950px;
    animation: spin1 3s linear infinite;
}

/*-------------------------animação--------------------------*/

@keyframes spin{
    to {transform: rotate(360deg);}
}
@keyframes spin1{
    to {transform: rotate(-360deg);}
}

/*-------------------------------banner missão, visão e valores--------------------------*/
#banner_missao{
    position: relative;
    width: 100%;
    height: 550px;
    margin-top: 250px;
}

#titulo1{
    width: 100%;
    height: 15%;
    font-family: 'Anta';
    color: #F7C745;
    font-size: 35px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

#galeria{
    width: 100%;
    height: 85%;
    background-color: #F7C745;
    display: flex;
    flex-direction: row;
    align-items: center;
}
/*-------------------------------galeria--------------------------*/
.slider{
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 370px;
    overflow: hidden;
}
.item{
    position: absolute;
    width: 350px;
    height: 320px;
    text-align: justify;
    background-color: #F7C745;
    border-radius: 15px;
    padding: 20px;
    transition:  0.5s;
    left: calc(50% - 220px);
    top: 0;
}
#next{
    position: absolute;
    right: 250px;
    top: 55%;
  
}
#prev{
    position: absolute;
    left: 250px;
    top: 55%;
}
#prev, #next{
    color: #fff;
    background: none;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    opacity: 0.4;
    transition: opacity 0.5s;
    box-shadow: none;
}

#prev:hover,
#next:hover{
    opacity: 1;
    color: #F7C745;
}

.texto2{
    color: #052D5C;
    font-family: 'Exo-bold';
    text-align: center;
    font-size: 27px;
}
.texto3{
    color: #052D5C;
    font-family: 'Exo-medium';
    text-align: center;
    font-size: 17px;
}
.texto4{
    color: #052D5C;
    font-family: 'Exo-medium';
    text-align: left;
    font-size: 19px;
}
/*-------------------------------banner equipe--------------------------*/

#banner_equipe{
    position: relative;
    width: 100%;
    height: 1000px;
    margin-top: 200px;
}

#titulo2{
    width: 100%;
    height: 15%;
    font-family: 'Anta';
    color: #F7C745;
    font-size: 35px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
#cards{
    width: 95%;
    height: 100%;
    margin: auto;
    
}
#card123{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    margin: auto;
    align-items: center;

}
#card1{
    position: relative;
    width: 25%;
    height: 350px;
    background-color: #F7C745;
    border-radius: 25px;
    transition: 0.8s;
    display: flex;
    flex-direction: column;
    align-items: center ;
}
#card1:hover{
    transform: scale(1.07);
    transition: 0.8s;
    box-shadow: 10px 10px 15px rgba(255, 238, 0, 0.4);
}

#card2{
    position: relative;
    width: 25%;
    height: 350px;
    background-color: #F7C745;
    border-radius: 25px;
    transition: 0.8s;
    display: flex;
    flex-direction: column;
    align-items: center ;
}
#card2:hover{
    transform: scale(1.07);
    transition: 0.8s;
    box-shadow: 10px 10px 15px rgba(255, 238, 0, 0.4);
}

#card3{
    position: relative;
    width: 25%;
    height: 350px;
    background-color: #F7C745;
    border-radius: 25px;
    transition: 0.8s;
    display: flex;
    flex-direction: column;
    align-items: center ;
}
#card3:hover{
    transform: scale(1.07);
    transition: 0.8s;
    box-shadow: 10px 10px 15px rgba(255, 238, 0, 0.4);
}

#card456{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    margin: auto;
    align-items: center;

}

#card4{
    position: relative;
    width: 25%;
    height: 350px;
    background-color: #F7C745;
    border-radius: 25px;
    transition: 0.8s;
    display: flex;
    flex-direction: column;
    align-items: center ;
}
#card4:hover{
    transform: scale(1.07);
    transition: 0.8s;
    box-shadow: 10px 10px 15px rgba(255, 238, 0, 0.4);
}

#card5{
    position: relative;
    width: 25%;
    height: 350px;
    background-color: #F7C745;
    border-radius: 25px;
    transition: 0.8s;
    display: flex;
    flex-direction: column;
    align-items: center ;
}
#card5:hover{
    transform: scale(1.07);
    transition: 0.8s;
    box-shadow: 10px 10px 15px rgba(255, 238, 0, 0.4);
}
#card6{
    position: relative;
    width: 25%;
    height: 350px;
    background-color: #F7C745;
    border-radius: 25px;
    transition: 0.8s;
    display: flex;
    flex-direction: column;
    align-items: center ;
}
#card6:hover{
    transform: scale(1.07);
    transition: 0.8s;
    box-shadow: 10px 10px 15px rgba(255, 238, 0, 0.4);
}
/*---------------------------fotos---------------------*/
.foto{
    width: 180px;
    height: 180px;
    background-color: #1e2933;
    border-radius: 100px;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nome{
    width: 250px;
    height: 50px;
    font-size: 22px;
    margin-top: 25px;
    color: #052D5C;
    font-family: 'Exo-bold';
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.foto img{
    width: 170px;
    height: 170px;
    border-radius: 105px;
}

/* ---------------------------footer-------------------------*/

footer {
    position: relative;
    width: 100%;
    height: 200px;
    background-color:  #F7C745;
    margin-top: 150px;
    font-family: 'Exo-medium';
    color: #052D5C;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.footer-logo img{
    width: 130px;
    margin-top: 15px;
}

.footer-link {
    display: flex;
    gap: 150px;
    text-align: left;
}

.itens-footer {
    display: flex;
    flex-direction: column;
}

.itens-footer h3 {
    margin-bottom: 10px;
}

.itens-footer a {
    text-decoration: none;
    margin: 5px;
    color:#052D5C;
}

.footer-social {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-social a {
    margin: 5px;
}

.direitos p{
    width: 98.5%;
    color: #F7C745;
    text-align: center;
    background-color: #052D5C;
    padding: 10px;
    margin-top: 10px;
    font-size: 15px;
    justify-content: center;
}




